
@font-face{
    font-family:"athelas";
    src: local("athelas"), 
        url(../../fonts/Athelas-Regular.ttf) /* Safari, Android, iOS */;
}

.phone-container{
    display:grid;
    position: relative;
    height: 100vh;
    width: 100vw;
    grid-template-rows: repeat(12,1fr);
    grid-template-columns: 1fr;
    overflow: hidden;
}
.text-phone{
    
    justify-self: start;
    grid-row-start: 6;
    font-family:athelas;
    font-weight: normal;
    font-size: 3.5em;
    position: absolute;
    border: solid #3b3934 2px;
    border-radius: 10px;
    padding-right: 2rem;
    margin-left: -2rem;
    padding-left: 2rem;
    padding-bottom: 0.5rem;
}


.insta-phone{
    justify-self: end;
    grid-row-start: 8;
    font-family: athelas;
    font-size: 3.5em;
    position: absolute;
    border: solid #3b3934 2px;
    border-radius: 10px;
    padding-left: 2rem;
    padding-right: 12rem;
    margin-right: -6rem;
}

.twitter-phone{
    justify-self: end;
    grid-row-start: 4;
    font-family: athelas;
    font-size: 3.5em;
    position: absolute;
    border: solid #3b3934 2px;
    border-radius: 10px;
    padding-left: 2rem;
    padding-right: 18rem;
    margin-right: -8rem;
}

.albums-text-phone{
    justify-self: end;
    grid-row-start: 3;
    font-family: athelas;
    font-size: 2.5rem;
    position: absolute;
    transform-origin: center;
    transform: rotateZ(90deg);
    border: solid #3b3934 2px;
    border-radius: 10px;
    background-color:  #3b3934 ;
    padding: 0.9rem;
    padding-right: 2rem;
    padding-left: 25rem;
    margin-top: -10rem;
    margin-right: -14rem;
    color: #e6e2d8;
}
.albums-text-phone:visited{
    color: #e6e2d8;
}
.contacts-text-phone{
    justify-self: start;
    grid-row-start: 11;
    font-family: athelas;
    font-size: 1.5rem;
    position: absolute;
    border: solid #3b3934 2px;
    border-radius: 10px;
    padding: 0.5rem;
    padding-left: 4rem;
    margin-left: -4rem;
}
.contacts-text-phone:visited{
    color: black;
}