@media only screen and (min-width: 500px){
    .text-phone{
        justify-self: start;
        grid-row-start: 6;
        font-family: serif;
        font-size: 5.5em;
        position: absolute;
        border: solid #3b3934 2px;
        border-radius: 10px;
        padding-right: 5rem;
        margin-left: -3rem;
        padding-left: 3rem;
        padding-bottom: 0.5rem;
    }
    
    
    .insta-phone{
        justify-self: end;
        grid-row-start: 8;
        font-family: serif;
        font-size: 4em;
        position: absolute;
        border: solid #3b3934 2px;
        border-radius: 10px;
        padding-left: 4rem;
        padding-right: 24rem;
        margin-right: -12rem;
    }
    
    .twitter-phone{
        justify-self: end;
        grid-row-start: 4;
        font-family: serif;
        font-size: 4em;
        position: absolute;
        border: solid #3b3934 2px;
        border-radius: 10px;
        padding-left: 4rem;
        padding-right: 36rem;
        margin-right: -16rem;
    }
    
    .albums-text-phone{
        justify-self: end;
        grid-row-start: 3;
        font-family: serif;
        font-size: 2.5rem;
        position: absolute;
        transform-origin: center;
        transform: rotateZ(90deg);
        border: solid #3b3934 2px;
        border-radius: 10px;
        background-color:  #3b3934 ;
        padding: 1.8rem;
        padding-right: 4rem;
        padding-left: 56rem;
        margin-top: -20rem;
        margin-right: -28rem;
        color: #e6e2d8;
    }
    .albums-text-phone:visited{
        color: #e6e2d8;
    }
    .contacts-text-phone{
        justify-self: start;
        grid-row-start: 11;
        font-family: serif;
        font-size: 1.5rem;
        position: absolute;
        border: solid #3b3934 2px;
        border-radius: 10px;
        padding: 1rem;
        padding-left: 12rem;
        margin-left: -8rem;
    }
    .contacts-text-phone:visited{
        color: black;
    }
}